.add-student-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  padding: 5rem;
}

.field{
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    gap: 1rem;
}

.input-field{
    display: flex;
    flex-direction: column;

}

.footer{
  display: flex;
  gap:1rem;
}